@model Crud.Models.Employees;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create">
    <input asp-for="Name" />
    <span asp-validation-for ="Name"></span> 
    <br />
    <input asp-for="Salary" />
    <span asp-validation-for="Salary"></span>
    <br />
    <input type="Submit" value="Submit"/>

</form>